.venv
classes

# Gradle
**/.gradle
**/build/

# Ignore Gradle GUI config
**/gradle-app.setting

**/gradle/wrapper
**/gradlew
**/gradlew.bat
# Avoid ignoring Gradle wrapper jar file
!gradle/wrapper
!/gradlew
!/gradlew.bat

# Maven
**/target/

# Ignore IntelliJ files
.idea
**/*.iws
**/*.ipr
**/*.iml
**/overlays/
**/out/

# Ignore Eclipse project files
**/.settings/
**/.project
**/.classpath
**/bin

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS Files
**/.DS_Store