# Gradle
**/.gradle
**/build/
**/out/
classes

# Ignore Gradle GUI config
**/gradle-app.setting

**/gradle/wrapper
**/gradlew
**/gradlew.bat
# Avoid ignoring Gradle wrapper jar file
!gradle/wrapper
!/gradlew
!/gradlew.bat

# Ignore IntelliJ files
/.idea/
**/*.iws
**/*.ipr
**/*.iml
**/target/
**/overlays/

# Ignore Eclipse project files
**/.settings/
**/.project
**/.classpath
**/bin

##THIS IS FROM PIPELINE GENERATION
.venv

# OS Files
**/.DS_Store